{% extends 'base.html' %}
{% block main %}

<form method="post">
  <b>You'll need to login or signup before you can do that</b>
  <br>
  <a href="/signup">Create Account</a>
  <br>
  <br>
 <table>
  <tr>
   <td class="label">
    Username
   </td>
   <td>
    <input type="text" name="username" value="{{username}}">
   </td>
  </tr>

  <tr>
   <td class="label">
    Password
   </td>
   <td>
    <input type="password" name="password" value="">
   </td>
  </tr>
 </table>

 <div class='error'>{{error}}</div>

 <input type="submit">
</form>

{% endblock %}
